* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: rgb(219, 219, 219);
  font-size: 16px;
}

@media (max-width: 480px) {
  html {
    font-size: 1px;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 1600) {
  html {
    font-size: 13px;
  }
}

#app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#virtual-monitor, #three-canvas-container,
#three-canvas, #hud-overlay  {
  width: 80vw;
  height: calc(80vw * 9/16);
}

#virtual-monitor {
  position: relative;
}

#start-end-screen {
  transition: opacity 0.7s ease-in;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

#start-screen,
#death-screen,
#win-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  font-family: monospace;
  padding-top: 3rem;
  display: none;
}

#start-screen {
  background: rgb(0, 0, 100);
}

#start-screen h1 {
  color: white;
  font-size: 8rem;
  margin-bottom: 7rem;
}

#start-screen-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-screen-buttons span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

#death-screen {
  padding-top: 0;
  background: black;
  justify-content: center;
}

#death-screen h2 {
  color: red;
  font-size: 9rem;
  border: 1px solid red;
  padding: 2rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

#death-screen h3 {
  color: white;
  font-size: 4rem;
  transition: all 2s linear;
}

#win-screen {
  background: rgba(40, 155, 155, 0.9);
}

#win-screen h2 {
  color: black;
}

#win-screen h3 {
  color: blue;
  font-size: 4rem;
  transition: all 2s linear;
}

#three-canvas-container,
#three-canvas {
  margin: 0 auto;
}

#three-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  box-sizing: content-box;
}

#hud-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
}

#hud-stats {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#speed {
  position: absolute;
  bottom: -10%;
  left: 12%;

  transform: translate(-50%, -50%);

  margin: 0 auto;
  font-size: 7rem;
  color: white;
  padding: 1rem;
  text-align: center;
  font-family: monospace;
}

#speed span {
  display: block;
}

#base-speed {
  font-size: 2rem;
}

#base-speed strong {
  color: rgb(0, 255, 0);
}

#hud-time {
  position: absolute;
  top: 4%;
  left: 50%;

  transform: translate(-50%, -50%);

  margin: 0 auto;
  font-size: 4rem;
  color: rgb(141, 227, 227);
  padding: 0.5rem;
  text-align: center;
  font-family: monospace;
}

#progress-bar {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 1.2rem;
  border: rgb(223, 56, 126) 2px solid;
}

#progress-bar h6 {
  color: rgb(117, 30, 72);
  position: absolute;
  font-family: monospace;
  font-size: 0.75rem;
}

#progress-moving-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(223, 56, 126);
}

#progress-percentage {
  font-size: 2rem;
  color: rgb(223, 56, 126);
  text-align: center;
  font-family: monospace;
}

.progress-marker {
  display: block;
  position: absolute;
  top: -0.3rem;
  left: 0;
  height: 1.7rem;
  width: 0.3rem;
  background: rgb(0, 255, 255);
}

.progress-marker span {
  color: rgb(0, 255, 255);
  font-size: 1rem;
  font-style: italic;
  font-family: monospace;
  position: absolute;
  top: -1.5rem;
  left: -1rem;
}

#upgrades-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 135, 0.9);
  z-index: 2;
  opacity: 0;
  transition: 0.3s opacity ease-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2rem;
}

#upgrade-list {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

#upgrade-heading {
  font-family: monospace;
  color: rgb(0, 205, 205);
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.upgrade-choice {
  font-family: monospace;
  background: rgba(150, 150, 150, 0.9);
  color: white;
  border: 0.4rem solid darkgray;
  border-style: groove;
  width: 25%;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.upgrade-name {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 2rem;
  text-decoration: underline;
  color: rgb(0, 0, 255);
}

.upgrade-choice p {
  font-size: 1.4rem;
  margin: 0;
}

.upgrade-choice p strong {
  color: rgb(191, 235, 202);
}

.upgrade-choice h3 strong {
  color: rgb(0, 225, 225);
  font-size: 2.5rem;
}

.upgrade-icon {
  width: 35px;
  height: 35px;
  transform: scale(2);
  background-position: -456px -35px;
  filter: hue-rotate(0.5turn);
}

#skip {
  font-family: monospace;
  color: gray;
  text-align: center;
  font-size: 4rem;
  background: white;
  transition: color 0.5s linear, transform 0.2s linear;
  width: 40%;
  margin: 0 auto;
  margin-top: 4rem;
}

#clippy {
  position: absolute;
  bottom: 5%;
  right: 2%;
  z-index: 1000;
  width: 55%;
  display: flex;
}

#clippy-says {
  position: relative;
  background: rgba(200, 200, 20, 0.9);
  color: black;
  font-size: 1.3rem;
  font-family: monospace;
  font-weight: normal;
  margin-left: auto;
  padding: 2rem;
  margin-right: -2rem;
  display: flex;
}

#clippy-img {
  min-width: 2rem;
  min-height: 3rem;
  transform: scale(1.2);
}
